environment         = "hml"
cluster_role_arn    = "arn:aws:iam::982623100545:role/LabRole"
node_role_arn       = "arn:aws:iam::982623100545:role/LabRole"
vpc_cidr            = "10.40.0.0/16"
node_instance_types = ["t3.medium"]
node_min_size       = 1
node_desired_size   = 1
node_max_size       = 3
enable_nat_gateway  = true
cluster_public_access_cidrs = ["203.0.113.10/32"] # substituir pelo IP administrativo
